global
    log stdout format raw local0

defaults
    mode http
    log global
    option httplog

    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend http_front
    bind *:80
    option forwardfor

    acl is_encoder path_beg /api/v1/urls

    use_backend encoder_backend if is_encoder
    default_backend decoder_backend

backend encoder_backend
    option httpchk GET /ping
    server encoder1 urlshortener-encoder:8080 check

backend decoder_backend
    option httpchk GET /ping
    server decoder1 urlshortener-decoder:8080 check
